# Masumi Service Configuration
MASUMI_PAYMENT_SERVICE_URL=your_masumi_payment_service_url_here
MASUMI_PAYMENT_API_KEY=your_masumi_payment_api_key_here
# Get the MASUMI_AGENT_ID from a GET /registry to Payment Service
# after registering your agent
MASUMI_AGENT_ID=your_masumi_agent_id_here
# Get the SELLING_WALLET_VKEY from a GET /payment_source to Payment Service
# This value is the walletVkey from the SellingWallet
SELLING_WALLET_VKEY="seller_vkey"

# Agent Configuration
OPENAI_API_KEY=""
# Expects Kupo mainnet service only. This is a contraint
# of the other existing Token Registry Tool for the agent 
# which currently only supports mainnet.
KUPO_BASE_URL=""
